$background-color: #eee;

$content-block-background-color: #fff;
$content-block-border-color: #ccc;

$content-block-padding-1: 20px;
$content-block-padding-2: 10px;
$content-block-spacing: 5px;
$content-block-border-radius: 5px;
